extends layout

block content
  h1= title
  p Welcome to #{title}
  #header-container
    header.wrapper.clearfix
      h1#title Joe's Node.js Website
      nav
        ul
          li
            a(href='index.html') Home
          li
            a(href='Notes.html') List Of Notes
          li
            a(href='#') Contact
  #main-container
    #main.wrapper.clearfix
      each d in data
        .col-xs-12.list-group-item
          p= d.Keyword
          p= d.Clicks
    // #main
  // #main-container



